body{
    font-family: 'Kanit', sans-serif;
    background-image:url(images/coolback.avif);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(220, 220, 220);
    backdrop-filter: blur(15px);
    margin: 0%;
}
#p3tag{
    background-color: rgb(98, 98, 98);
    border: 0;
    border-radius: 25px;
    color: rgb(204, 253, 255);
    text-align: center;
    animation-duration: 2s;
    animation-name: slideleft;
}
@keyframes slideleft{
    0%{
        transform: translate(300px,0px);
    }
}
#p5tag{
    background-color: rgb(98, 98, 98);
    border: 0;
    border-radius: 25px;
    color: rgb(204, 253, 255);
    text-align: center;
    animation-duration:4s;
    animation-name: slideleft;
}
@keyframes slideleft{
    0%{
        transform: translate(300px,0px);
    }
}
#p1tag{
    font-size: x-large;
    text-align: center;
    color:wheat;
}
#aoffunction{
    color: rgb(204, 253, 255); 
}
#definitionforfunction{
    display: none;
    background-color: rgb(64, 64, 64);
    border-radius: 30px;
}
#inputtext{
    border: 2px solid rgb(107, 107, 107);
    background-color: transparent;
    align-items: center;
} 
#inputtext:active {
    border-bottom: 2px solid rgb(214, 1, 1);
    animation-name: changecolor;
    animation-duration: 3s ;
}
@keyframes changecolor{
    0%{
        color: rgb(255, 5, 5);
    }
}
#aoffunction{
    position: relative;
    display: inline-block;
}
#aoffunction::before{
  content: attr(data-tooltip);
  position: absolute;
  top: -60px; /* Adjust as needed to position the tooltip */
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 14px;
  font-size: 14px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  width: 200px;
}
#aoffunction:hover::before{
    opacity: 1;
    visibility: visible;
    color: rgb(204, 253, 255);
}
#aofrelation{
    position: relative ;
    display: inline-block;
    color: rgb(204, 253, 255);;
}
#aofrelation::before{
    content: attr(data-tooltip);
    position: absolute;
    top: -65px;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    z-index: 1;
    border-radius: 14px;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    font-size: 14px;
}
#aofrelation:hover::before{
    opacity: 1;
    visibility: visible;
}
#aofphysicalconstraints{
    display: inline-block;
    position: relative;
    color: rgb(204, 253, 255);
}
#aofphysicalconstraints::before{
    content: attr(data-tooltip);
    top: -22px;
    left: 0;
    background-color: #333;
    color: #fff;
    border-radius: 14px;
    padding: 10px 20px;
    font-size: 14px;
    z-index: 1;
    visibility: hidden;
    width: 200px;
    position: absolute;
    opacity: 0;
}
#aofphysicalconstraints:hover::before{
   opacity: 1;
   visibility: visible;
}