body{
    font-family: 'Kanit', sans-serif;
    background-image:url(images/mathimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(220, 220, 220);
    backdrop-filter: blur(10px);
    margin: 0%;
    padding: 40px;
    background-position: center;
}
#p3tag{
    background-color: rgb(98, 98, 98);
    border: 0;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    animation-duration: 3s;
    animation-name: slideleft;
    font-family: Gabarito;
    width: 800px;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 25px;
}
@keyframes slideleft{
    0%{
        transform: translate(0px,300px);
    }
}
#p5tag{
    background-color: rgb(98, 98, 98);
    border: 0;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    animation-duration:3s;
    animation-name: slideleft;
    font-family: Gabarito;
    width: 800px;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 25px;
}
@keyframes slideleft{
    0%{
        transform: translate(0px,300px);
    }
}
#p1tag{
    font-size: x-large;
    text-align: center;
    color:wheat;
}
#aoffunction{
    color: rgb(204, 253, 255); 
}
#definitionforfunction{
    display: none;
    background-color: rgb(64, 64, 64);
    border-radius: 30px;
}
#inputtext{
    border: 2px solid rgb(107, 107, 107);
    background-color: transparent;
    margin-left: 50px;
    transition: 4s;
    outline: none;
    border-radius: 50px;
    font-size: 20px;
    animation-name: slideweird;
    animation-duration: 6s ;
    color: #fff;
    width: 370px;
    height: 20px;
    padding: 20px;
    backdrop-filter: blur(120px);
} 
#inputtext:active {
    border-bottom: 2px solid rgb(214, 1, 1);
}
@keyframes slideweird{
    0%{
       transform: translateX(-2000px);
    }
}
#aoffunction{
    position: relative;
    display: inline-block;
}
#aoffunction::before{
  content: attr(data-tooltip);
  position: absolute;
  top: -60px; /* Adjust as needed to position the tooltip */
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 14px;
  font-size: 14px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  width: 200;
  transition:  0.5s;
}
#aoffunction:hover::before{
    opacity: 1;
    visibility: visible;

}
#aofrelation{
    position: relative ;
    display: inline-block;
    color: rgb(204, 253, 255);;
}
#aofrelation::before{
    content: attr(data-tooltip);
    position: absolute;
    top: -65px;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    z-index: 1;
    border-radius: 14px;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    font-size: 14px;
    transition:  0.5s;
}
#aofrelation:hover::before{
    opacity: 1;
    visibility: visible;
}
#aofphysicalconstraints{
    display: inline-block;
    position: relative;
    color: rgb(204, 253, 255);
}
#aofphysicalconstraints::before{
    content: attr(data-tooltip);
    padding: 10px 20px;
    top: -65px;
    left: 10px;
    background-color: #333;
    color:#fff;
    font-size: 14px;
    opacity: 0;
    z-index: 1;
    width: 200px;
    position: absolute;
    border-radius: 14px;
    visibility: hidden;
    transition:  0.5s;
}
#aofphysicalconstraints:hover::before{
    visibility: visible;
    opacity: 1;
}
#aofset{
    position: relative;
    display: inline-block;
    transition:  0.5s;
}
#h1tag{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 100px;
    font-family:cursive;
    animation-name: uptodown;
    animation-duration: 3s;
}
@keyframes uptodown{
     0%{
        transform: translateY(-200px);
        
     }
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 0;
    text-align: center;
    padding-top:15px;
    margin-top: 15px;
    border-top: 2px #696969 solid;
    list-style: none;
}
#aboutus{
    color: #c8c8c8;
    text-decoration: none;
    padding:16px;
    transition: 1s;
    text-shadow: 3px 3px 3px gray;
}

#aboutus:hover{
    background-color: #bcbcbc;
    color: #212121;
}
#aboutus:active{
    background-color: aqua
}
#contact{
    color: #c8c8c8;
    text-decoration: none;
    padding:16px;
    transition: 1s;
    text-shadow: 3px 3px 3px gray;
}
#contact:hover{
    background-color: #bcbcbc;
    color: #212121;
}
#contact:active{
    background-color: aqua;
}
#content{
    color: #c8c8c8;
    text-decoration: none;
    padding: 16px;
    transition: 1s;
    text-shadow: 3px 3px 3px gray;
}
#content:hover{
    background-color: #bcbcbc;
    color: #212121;
}
#content:active{
    background-color: aqua;
}
#questions{
    color: #c8c8c8;
    text-decoration: none;
    padding:15.8px;
    transition: 1s;
    text-shadow: 3px 3px 3px gray;
}
#questions:hover{
    background-color: #bcbcbc;
    color: #212121;
}
#questions:active{
    background-color: aqua;
}
#searchingbutton{
    background-color: transparent;
    border: 1px solid beige;
    margin-left: 225px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 10px;
    backdrop-filter: blur(114px);
}
#labelforanswer{
    border: none;
    background-color: transparent;
}
#questionplace{
    margin-left: 140px;
}
#div1{
   background-color: #212121;
   float: right;
   height: 560px;
   width: 200px;
   padding: 40px;
   margin-right: -1px;
   margin-bottom: 100px;
   border: 2px white solid;
   border-radius: 56px;
   margin-top: 40px;
   animation-name: leftslide;
   animation-duration: 3s;
   margin-bottom: 30px;
   padding-bottom:130px;
}
@keyframes leftslide{
    0%{
        transform: translateX(290px);
    }
}